<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCN Practical Cloud App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.3.1/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <style>
        .json-output {
            background-color: #333; 
            color: #fff; 
            padding: 1em;
            border-radius: 0.5em;
            overflow: auto;
        }
        .json-output pre, .json-output code { 
            color: inherit;
        }
        pre code.hljs {
            overflow-x: hidden;
        }
        pre code.hljs:hover {
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="mt-5">
                <img src="https://raw.githubusercontent.com/f5devcentral/f5xc-lab-mcn-practical/main/cloudapp/app/static/logo.png" alt="" width="auto" height="100"/>
                MCN Practical Cloud App</h1>
        </div>
        <div class="card mt-3">
            <div class="card-header">Environment</div>
            <div class="card-body">
                {% if request_env == 'AWS' %}
                <img src="https://raw.githubusercontent.com/f5devcentral/f5xc-lab-mcn-practical/main/cloudapp/app/static/aws.pngg" alt="" width="auto" height="40">
                {% elif request_env == 'Azure' %}
                <img src="https://raw.githubusercontent.com/f5devcentral/f5xc-lab-mcn-practical/main/cloudapp/app/static/azure.png" alt="" width="auto" height="40">
                {% else %}
                <img src="https://raw.githubusercontent.com/f5devcentral/f5xc-lab-mcn-practical/main/cloudapp/app/static/flask.png" alt="" width="auto" height="40">
                {% endif %}
                &nbsp{{ request_env }}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Headers</div>
            <div class="card-body json-output">
                <pre><code class="json">{{ request_headers | to_pretty_json }}</code></pre>
            </div>
        </div>
        {% if request_data %}
        <div class="card mt-3">
            <div class="card-header">Data</div>
            <div class="card-body json-output">
                <pre><code class="json">{{ request_data | to_pretty_json }}</code></pre>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
