<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Route</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.3.1/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .json-output {
            background-color: #333; /* Dark grey background */
            color: #fff; /* Ensure text color is white */
            padding: 1em;
            border-radius: 0.5em;
            overflow: auto;
        }
        .json-output pre, .json-output code { /* Ensure all text within pre and code tags inherits white color */
            color: inherit;
        }
        .btn {
            padding: 1em;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Request Information</h1>
        <div class="card mt-3">
            <div class="card-header">Environment
                {% if request_env == 'AWS' %}
                    <i class="fab fa-aws" style="color: orange;"></i>
                {% elif request_env == 'azure' %}
                    <i class="fab fa-microsoft" style="color: blue;"></i>
                {% else %}
                    <i class="fas fa-globe" style="color: grey;"></i>
                {% endif %}
            </div>
            <div class="card-body">{{ request_env }}</div>
        </div>
        <div class="card mt-3">
            <div class="card-header">Headers</div>
            <div class="card-body json-output">
                <pre><code class="json">{{ request_headers | to_pretty_json }}</code></pre>
            </div>
        </div>
        {% if request_data %}
        <div class="card mt-3">
            <div class="card-header">Data</div>
            <div class="card-body json-output">
                <pre><code class="json">{{ request_data | to_pretty_json }}</code></pre>
            </div>
        </div>
        {% endif %}
        <form action="/echo" method="POST">
            <input type="hidden" name="example" value="data">
            <button type="submit" class="btn btn-primary">Send Example POST</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@11.3.1/highlight.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        hljs.highlightAll();
    });
    </script>
</body>
</html>
