/* General Styles for Score Tables */
.score-table {
    background: #34495E;
    border-radius: .8em;
    overflow: hidden;
    margin: 1em 0;
    color: rgb(85, 155, 221); /* General text color, adjust as needed */
    tr, th {
        border-color: lighten(#34495E, 10%);
      }
}

.score-table th, .score-table td {
    text-align: left;
    margin: .5em 1em;
    padding: .25em .5em;
    display: block; /* Default to block to stack on small screens */
}

/* Responsive Table Styles */
.table-responsive {
    min-width: 100%; /* Ensure the responsive container is full width on smaller screens */
}

/* Styling for 'th' and 'td' under media query control */
@media (min-width: 480px) {
    .score-table th, .score-table td {
        display: table-cell;
    }
    .score-table th {
        display: table-cell; /* Ensure table headers are visible and formatted correctly at wider widths */
        padding: 1em;
    }
    .score-table td {
        padding: 1em !important; /* Important to override Bootstrap defaults if necessary */
        background: rgb(230, 234, 253); /* Light blue background for contrast */
    }
    .score-table td:before {
        display: none; /* Hide the 'before' content when not needed */
    }
}

/* Specific Styles for Pass/Fail */
.score-pass {
    color: rgb(25, 135, 84); /* Green for pass */
}

.score-fail {
    color: rgb(203, 68, 74); /* Red for fail */
}

/* Adjustments for First and Last Child Padding */
.score-table th:first-child, .score-table td:first-child {
    padding-left: 0;
}

.score-table th:last-child, .score-table td:last-child {
    padding-right: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 479px) {
    .score-table th, .score-table td {
        padding: 1em; /* Larger padding for readability on small screens */
    }
    .score-table td:before {
        /* Content for responsive labels */
        content: attr(data-label);
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }
}
