<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>	

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/static/custom.css" rel="stylesheet">

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          document.querySelectorAll('.btn-toggle').forEach(button => {
              button.addEventListener('click', function() {
                  setTimeout(() => { // Wait for the collapse animation to complete
                      let states = [];
                      document.querySelectorAll('.collapse').forEach((collapse, index) => {
                          states.push({
                              id: collapse.id,
                              open: collapse.classList.contains('show')
                          });
                      });
                      setCookie('accordionStates', JSON.stringify(states), 1);
                  }, 350);
              });
          });
          const states = getCookie('accordionStates');
          if (states) {
              const accordionStates = JSON.parse(states);
              accordionStates.forEach(state => {
                  let element = document.getElementById(state.id);
                  if (element) {
                      let bsCollapse = new bootstrap.Collapse(element, {
                          toggle: false // Disable automatic toggling
                      });
                      state.open ? bsCollapse.show() : bsCollapse.hide();
                  }
              });
          }
      });
      function setCookie(name, value, days) {
          var expires = "";
          if (days) {
              var date = new Date();
              date.setTime(date.getTime() + (days*24*60*60*1000));
              expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
      }
      function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      }
      
      </script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-auto bg-light sidebar" id="sidebar">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <img src="/static/logo.png" width="100" height="auto" alt="Logo">
                  <span class="fs-5 fw-semibold">MCN Practical</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                      Home
                    </button>
                    <div class="collapse" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/" class="link-dark rounded">Overview</a></li>
                        <li><a href="/setup" class="link-dark rounded">Setup</a></li>
                        <li><a href="/arch" class="link-dark rounded">Architecture</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#appconnect-collapse" aria-expanded="false">
                      App Connect
                    </button>
                    <div class="collapse show" id="appconnect-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/lb" class="link-dark rounded">Load Balancing</a></li>
                        <li><a href="/path" class="link-dark rounded">Path Routing</a></li>
                        <li><a href="/header" class="link-dark rounded">Header Manipulation</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#netconnect-collapse" aria-expanded="false">
                      Network Connect
                    </button>
                    <div class="collapse show" id="netconnect-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/vnet" class="link-dark rounded">Virtual Networks</a></li>
                        <li><a href="/netpolicy" class="link-dark rounded">Network Policy</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#status-collapse" aria-expanded="false">
                      Status
                    </button>
                    <div class="collapse" id="status-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">CE State</a></li>
                        <li><a href="#" class="link-dark rounded">Scoreboard</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>

            {% if udf %}
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                  function fetchAndUpdateStatus() {
                      // Get cached values
                      let cachedSiteName = getCookie('siteNameCache');
                      let cachedState = getCookie('stateCache');
              
                      // Update the page with cached values if they exist
                      if (cachedSiteName && cachedState) {
                          document.getElementById('siteName').textContent = cachedSiteName;
                          document.getElementById('siteState').textContent = cachedState;
                      } else {
                          // Fetch from server if no valid cache exists
                          fetch('/_ce_status')
                              .then(response => {
                                  if (!response.ok) {
                                      throw new Error('Network response was not ok');
                                  }
                                  return response.json();
                              })
                              .then(data => {
                                  if (!data.err) {
                                      document.getElementById('siteName').textContent = cachedSiteName;
                                      document.getElementById('siteState').textContent = cachedState;
                                      // Cache the site name and state in cookies for 1 day
                                      setCookie('siteNameCache', data.site_name, 1);
                                      setCookie('stateCache', data.state, 1);
                                  } else {
                                      // Handle potential errors in data retrieval
                                      document.getElementById('statusText').textContent = 'Error fetching status';
                                  }
                              })
                              .catch(error => {
                                  console.error('There was a problem with the fetch operation:', error);
                                  document.getElementById('siteName').textContent = `Error`;
                                  document.getElementById('siteState').textContent = `Error`;
                              });
                      }
                  }
              
                  // Initial fetch on page load
                  fetchAndUpdateStatus();
              
                  // Re-fetch every 20 seconds
                  setInterval(() => {
                      // Expire the cookie explicitly by setting days to 0
                      setCookie('siteNameCache', '', 0);
                      setCookie('stateCache', '', 0);
                      fetchAndUpdateStatus();
                  }, 20000);
              });
              </script>
              
              <div class="status-box align-items-center bg-light p-2">
                <p><strong id="siteName"></strong></p>
                <p><strong id="siteState"></strong></p>
              </div>
            {% endif %}

        </div>
    </div>
        
        <!-- Main Content -->
        <main class="col">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

</body>
</html>

