{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main-body">

    <div class="col text-center">
        <div class="content-container">
            <img src="/static/images/cookie-err.png" alt="Banner" class="img-fluid lab-header-clear">
            <div class="alert alert-secondary mt-3" role="alert">
                <strong><i class="bi bi-cookie"></i>&nbsp;&nbsp;Verify cookies are enabled for this site&nbsp;&nbsp;<i class="bi bi-cookie"></i></strong>
             </div>
            <a href="/" class="btn btn-primary"><i class="bi bi-house-door-fill"></i>&nbsp;&nbsp;Home</a>
        </div>
    </div>

</div>
{% endblock %}