{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="main-body">

<div>
    <img src="/static/images/manip-banner.png" alt="Banner" class="img-fluid lab-header">
</div>
                
<div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"></div>
    
<p></p>
    Since web traffic has been traversing proxies, engineers have needed to alter HTTP content for increased observability (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-For">XFF</a>), performance (<a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control">Cache-Control</a>), or other core functionality (<a href="https://en.wikipedia.org/wiki/JSON_Web_Token">JWT</a>).
    "Proxy Pass" has been part of web servers since the early Apache days.
    Adding, removing, and altering headers are tablestakes for ADCs, CDNs, and software-based load balancers.
    F5 XC App Connect implements these features granularly on routes or more broadly on the load balancer.
</p> 

<div style="height:25px"></div>
    
<h2><strong>Exercise 1: Path Rewrite</strong></h2>

<p>
Configure a path <strong>prefix rewrite</strong> to remove part of the request path when routing to an origin.
</p>

<div>
    <ul class="list-group">
      <li class="list-group-item">
      <img src="/static/lb-icon.png" class="lab-icon">
      Keep your configuration from the previous exercise in place. 
      </li>
      <li class="list-group-item">
      <img src="/static/route-icon.png" class="lab-icon">
      Requests to <strong>https://{{ ns or 'eph-ns' }}.mcn-lab.f5demos.com/<u>aws/raw/</u></strong> need to arrive at the origin with a path of <strong>/raw</strong></u>.
      </li>
    </ul>
</div>
    
<div style="height:25px"></div>
    
<h3><strong>Test Criteria</strong></h3>

<pre class="hljs language-http rounded"><code>
GET https://{{ ns or 'eph-ns' }}.mcn-lab.f5demos.com/aws/raw HTTP/1.1
Host: eph-ns.mcn-lab.f5demos.com
                
</code></pre>
                
<pre class="hljs language-json rounded"><code>
{
    "info": {
        "path": "/raw"
    }
    ...
}   

</code></pre>
    
    
<div class="left-aligned-button-container">
    <button id="requestBtn1" class="btn btn-primary lab-test-button">Test Load Balancer</button>
</div>
<div id="result1" class="mt-3"></div>
<script>
document.getElementById('requestBtn1').addEventListener('click', () => {
    testHttpRequest('requestBtn1', '/_manip1', 'result1', 'Test Load Balancer');
});
</script>
    
<p></p>
    Questions on this functionality are often asked on <strong><a href="https://community.f5.com/" target="_blank">F5 DevCentral</a></strong>. Here's a hint. 
</p>

<div id="hints">
    <p>
      <a class="btn btn-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Route Hint</a>
      <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Rewrite Hint</button>
    </p>
    <div class="row">
        <div class="collapse multi-collapse" id="multiCollapseExample1" data-bs-parent="#hints">
          <img src="/static/rewrite1.png" width="900px" height="auto" alt="temp">
        </div>
        <div class="collapse multi-collapse" id="multiCollapseExample2" data-bs-parent="#hints">
          <img src="/static/rewrite2.png" width="500px" height="auto" alt="temp">
        </div>
    </div>
</div>
    
<div style="height:25px"></div>
    
<h2><strong>Exercise 2: Request Header Shenanigans</strong></h2>

<p>
    While blind header insertion or deletion is useful in some use cases, this exercise focuses on context aware header manipulation. 
    Use the <strong><a href="https://docs.cloud.f5.com/docs/how-to/advanced-security/configure-http-header-processing" target="_blank">XC Header Processing</a></strong> docs for reference. 
</p>

<div style="height:25px"></div>
    
<div>
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/static/lb-icon.png" class="lab-icon">
        Insert a request header named <strong>X-MCN-src-site</strong> to identify the UDF CE to the origin. <strong>Do not use a static value</strong>. 
      </li>
      <li class="list-group-item">
        <img src="/static/lb-icon.png" class="lab-icon">
        Insert a request header named <strong>X-MCN-namespace</strong> to identify the ephemeral NS to the origin. <strong>Do not use a static value</strong>. 
      </li>
    </ul>
</div>
    
<div style="height:25px"></div>
    
<h3><strong>Test Criteria</strong></h3>

<pre class="hljs language-http rounded"><code>
GET https://{{ ns or 'eph-ns '}}.mcn-lab.f5demos.com/ HTTP/1.1
Host: {{ ns or 'eph-ns '}}.mcn-lab.f5demos.com
                
</code></pre>
                
<pre class="hljs language-json rounded"><code>
{
    ...
    "request_headers": {
        "x-mcn-namespace": "wiggly-yellowtail",
        "x-mcn-src-site": "cluster-xxxxxxxx",
    },
    ...
}
            
</code></pre>
    

<div class="left-aligned-button-container">
    <button id="requestBtn2" class="btn btn-primary lab-test-button">Test Load Balancer</button>
</div>
<div id="result2" class="mt-3"></div>
<script>
document.getElementById('requestBtn2').addEventListener('click', () => {
    testHttpRequest('requestBtn2', '/_manip2', 'result2', 'Test Load Balancer');
});
</script>
    
<div style="height:25px"></div>
    
<h2><strong>Exercise 3: Response Header Shenanigans</strong></h2>
    
<div style="height:25px"></div>
    
<div>
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/static/lb-icon.png" class="lab-icon">
        Insert a response header named <strong>X-MCN-dest-site</strong> to determine which cloud CE processed the request. 
      </li>
    </ul>
</div>
    
<div style="height:25px"></div>
    
<h3><strong>Test Criteria</strong></h3>

<div class="alert alert-secondary" role="alert">
    This test validates multiple HTTP requests.
</div>

<div class="alert alert-secondary" role="alert">
    This test evaluates response headers.
</div>

<strong>Request 1</strong>
<pre class="hljs language-http rounded"><code>
GET https://{{ ns or 'eph-ns' }}.mcn-lab.f5demos.com/aws HTTP/1.1
Host: {{ ns or 'eph-ns' }}.mcn-lab.f5demos.com
                
</code></pre>
                
<pre class="hljs language-json rounded"><code>
{
    "x-mcn-dest-site": "student-awsnet"
}
            
</code></pre>
    
<strong>Request 2</strong>
<pre class="hljs language-http rounded"><code>
GET https://{{ ns or 'eph-ns' }}.mcn-lab.f5demos.com/azure HTTP/1.1
Host: {{ ns or 'eph-ns' }}.mcn-lab.f5demos.com
                    
</code></pre>
                    
<pre class="hljs language-json rounded"><code>
{
    "x-mcn-dest-site": "student-azurenet"
}
                
</code></pre>

<div class="left-aligned-button-container">
    <button id="requestBtn3" class="btn btn-primary lab-test-button">Test Load Balancer</button>
</div>
<div id="result3" class="mt-3"></div>
<script>
document.getElementById('requestBtn3').addEventListener('click', () => {
    testHttpRequest('requestBtn3', '/_manip3', 'result3', 'Test Load Balancer');
});
</script>
    
    
<div  style="height:25px" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"></div>
    
<nav aria-label="labapp nav">
    <ul class="pagination justify-content-end">
        <li class="page-item">
        <a class="page-link" href="/portability">Portability <i class="bi bi-arrow-right-circle-fill"></i></a>
        </li>
    </ul>
</nav>
    
    
</div>
{% endblock %}